<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
</head>

<body>
  <p>登录</p>
  <form action="/loginAction" method="get">
    userName:<input type="text" name="userName" />
    <br>
    password:<input type="password" name="password" />
    <br>
    <input type="submit" name="" id="" value="提交">
  </form>
</body>

</html>